<div class="relative h-screen w-screen overflow-hidden bg-slate-950">
  <app-map
    [geofences]="(geofenceService.filteredFences$ | async) || []"
    [selectedFenceId]="selectedFence?.id"
    [isDrawing]="isCreating"
    [editMode]="isMapEditing"
    (fenceClicked)="handleSelect($event)"
    (shapeCreated)="onShapeCreated($event)"
  >
  </app-map>
  <div class="absolute inset-y-0 left-0 z-10 pointer-events-none">
    <app-geofence-panel
      [geofences]="(geofenceService.filteredFences$ | async) || []"
      [selectedId]="selectedFence?.id"
      [isCollapsed]="isCreating"
      (selected)="handleSelect($event)"
      (searched)="geofenceService.setSearchTerm($event)"
      (created)="startDrawing()"
    ></app-geofence-panel>
  </div>
  <app-detail-panel
    [fence]="selectedFence"
    (closed)="selectedFence = undefined"
    (mapEditToggled)="isMapEditing = $event"
    (saved)="handleSaveEdit($event)"
    (deleted)="handleDelete($event)"
  ></app-detail-panel>

  <div class="absolute top-6 left-1/2 -translate-x-1/2 z-10 flex gap-4 pointer-events-none">
    <div
      class="pointer-events-auto bg-slate-900/80 backdrop-blur-md border border-slate-700/50 px-6 py-2 rounded-2xl flex items-center gap-3"
    >
      <span class="text-indigo-400 font-bold">LIVE USERS:</span>
      <span class="text-white font-mono text-lg">{{
        (eventsService.liveUsersCount$ | async) || 0
      }}</span>
    </div>
  </div>

  @if (isCreating) {
    <div
      class="absolute top-8 left-1/2 -translate-x-1/2 z-20 bg-slate-900/90 backdrop-blur-md px-6 py-3 rounded-2xl border border-indigo-500 shadow-2xl flex items-center gap-4 pointer-events-auto"
    >
      <span class="text-white font-medium italic animate-pulse"
        >Draw the perimeter on the map...</span
      >
      <button
        (click)="cancelCreation()"
        class="ml-4 bg-red-500/20 text-red-400 px-3 py-1.5 rounded-xl border border-red-500/50 hover:bg-red-500 hover:text-white transition-all text-xs font-bold"
      >
        Cancel
      </button>
    </div>
  }
  @if (isModalOpen) {
    <app-create-modal
      (saved)="handleModalSave($event)"
      (canceled)="cancelCreation()"
    ></app-create-modal>
  }
</div>
